<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section>
        
        <% for( let i = 0; i <listaAutos.length ; i++ ) { %>
            <article>
                <h1>Auto numero <%= i+1 %> </h1>
                    <ul>
                        <li>Marca: <%= listaAutos[i].marca %> </li>
                        <li>Modelo: <%= listaAutos[i].modelo %> </li>
                        <li>Año: <%= listaAutos[i].anio %> </li>
                        <li>Color: <%= listaAutos[i].color %> </li>
                    </ul>
            </article>
        <% } %>

    </section>


</body>
</html>